.header {
    height: 64px;
    width: 100%;
    background-color: #212731;
    .nav-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
      height: 100%;
      .nav-items {
        font-size: 14px;
        color: #d1d6da;
        font-weight: 400;
      }
      .nav-search {
        position: relative;
        height: 37px;
        width: 258px;
        border-radius: 8px;
        background-color: #ffffff;
        .nav-input {
            width: calc(100% - 24px);
          background-color: transparent;
          border:none;
          outline:none;
              }
        .search-icon {
            position: relative;
            top:5px;
          height: 24px;
          width: 24px;
        }
      }
    }
}